$table-bg: rgba(255, 255, 255, 0.15);
$table-text: #111;
$table-header-bg: rgba(255, 255, 255, 0.25);
$table-header-text: #000;
$table-border: rgba(255, 255, 255, 0.3);
$hover-bg: rgba(255, 255, 255, 0.1);

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 83vh;
  height: 83vh;
  overflow-y: hidden;
  padding: 2rem;
  margin-left: 0.2%;
  margin-top: 0.2%;
  margin-right: 2%;
  margin-bottom: 2%;
  border-radius: 2rem;
  background: $table-bg;
  border: 1px solid $table-border;
  box-shadow: 0 16px 32px rgba(0,0,0,0.2), 0 8px 16px rgba(0,0,0,0.1);
  color: $table-text;
  transition: all 0.3s ease;

  h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
  }

  .file-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 1.5rem;
    overflow: hidden;
    text-align: left;
    font-size: 1rem;
    tr {
      display: flex;
      td, th {
        display: flex;
        align-items: center;
        flex: 3;
      }
      td:last-child, th:last-child {
        flex: 1;
      }
    }
    
    thead {
      background: $table-header-bg;
      color: $table-header-text;
      display: block;
      width: 100%;

      th {
        padding: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.05em;
      }
    }

    tbody {
      display: block;          
      max-height: 70vh;            
      overflow-y: auto;        
      width: 100%;

      tr {
        transition: all 0.2s ease;
        td {
          padding: 1rem;
          border-bottom: 1px solid $table-border;

          font-size: 14px;
           &:last-child {
            text-align: center;
          }

          .btn {
              padding: 10px;
              border-radius: 6px;
              display: flex;
              width: fit-content;

              cursor: pointer;
              &:hover {
                background: $hover-bg;
              }
          }

          .icon-container {
            display: flex;
            align-items: center;
            gap: 10px;
          }
        }

        

        &.folder td:first-child {
          font-weight: 600;
        }

        &.document td:first-child {
          font-weight: 400;
        }
      }

      .folder {
          cursor: pointer;
          &:hover {
            background: $hover-bg;
          }
      }
      
    }
  }
}
