services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/files:/usr/src/app/files
    environment:
      - NODE_ENV=development

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "80:80"
