.wrapper-homepage {
  height: 100dvh;
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  grid-template-rows: auto 1fr;
  background: url('https://images.pexels.com/photos/691668/pexels-photo-691668.jpeg') center/cover no-repeat;
  position: relative;
  overflow: hidden;

  .glass-overlay {
    grid-area: 1 / 1 / -1 / -1; 
    backdrop-filter: blur(1px) saturate(200%) brightness(1);
    background: rgba(255, 255, 255, 0.15);
    z-index: 0; 
  }

  .sidebar {
    position: relative;
    z-index: 1;

    .resizer {
      position: absolute;
      top: 0;
      right: 0;
      width: 5px;
      height: 100%;
      cursor: ew-resize;
    }
  }

  .headings {
    grid-area: a;
    z-index: 2;
  }

  .sidebar {
    grid-area: b;
    z-index: 2;
  }

  .main-content {
    grid-area: c;
    z-index: 2;

    .loader-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
