.headings-container {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
  color: var(--lg-text);
  overflow: hidden;
}

.headings-logo {

  img {
    width: 90px;
    height: auto;
  }
}