name: Build and deploy

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Build & start Docker
        run: |
          docker compose up --build -d
          docker compose ps
