name: Build and deploy

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build frontend
        run: |
          cd frontend
          npm install
          npm run build

      - name: Build & start Docker
        run: |
          docker compose up --build -d
          docker compose ps

      - name: Install GreenIT Analysis CLI
        run: |
          wget https://github.com/cnumr/GreenIT-Analysis-cli/archive/refs/heads/master.zip
          unzip master.zip
          cd GreenIT-Analysis-cli-master
          npm install
          npm link

      - name: Wait for frontend
        uses: docker://benel/wait-for-response:1
        with:
          args: http://localhost/ 200 30000 500
      
      - name: Run GreenIT Analysis CLI for multiple scenarios
        run: |
          for scenario in scenarios/*.yml; do
            echo "Analyse de $scenario"
            greenit analyse --format html --ci "$scenario"
          done

      - name: Save results
        uses: actions/upload-artifact@v4
        with:
          name: EcoIndex
          path: "*.html"
